<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="empy" class="com.test05.Emp">
		<property name="name" value="유재석"></property>
		<property name="salary" value="250만원"></property>
	</bean>
	
	<bean id="empk" class="com.test05.Emp">
		<property name="name" value="강호동"></property>
		<property name="salary" value="200만원"></property>
	</bean>
	
	<bean id="you" class="com.test05.Developer">
		<property name="emp" ref="empy"></property>
		<property name="dept" value="개발"></property>
	</bean>
	
	<bean id="kang" class="com.test05.Engineer">
		<property name="emp" ref="empk"></property>
		<property name="dept" value="기술"></property>
	</bean>

</beans>
